* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Source Code Pro', monospace;
}
html,
body {
  background: black;
}
html {
  overflow: hidden;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
  transition: .2s
}
a:hover {
  opacity: 0.5;
}
main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
body {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 60px 40px;
  color: #ffffff;
}
.profile_section {
  margin-bottom: 30px
}
.profile_section_header {
  margin-bottom: 3px;
  font-size: 0.75em;
  line-height: 1;
  opacity: 0.5;
  font-weight: normal;
}
.profile_section_content {
  color: white;
  font-weight: normal;
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@media (max-width:375px) {
  .link-icons {
    display: flex;
    justify-content: space-between;
  }

  .link-icon {
    margin-right: 0;
  }
}

@media (max-width:768px) {
  main {
    min-height: auto;
  }

  .content {
    padding: 20px 4.5vw;
  }
}